{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Commerce{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
</head>
<body>
    <header><h1>E-Commernce</h1></header>
    <hr>

    
    {% block content %}
        <h1>hi</h1>
    {% endblock content %}
        
    <footer>
        <hr>
        <p>© M.Rizwan E-Commrace 2025</p>
    </footer>
    
</body>
</html>