{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Commerce{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
</head>
<body>
    <header>
        <h1>E-Commernce</h1>
        {% if user.is_authenticated %}
            <p>Welcom , {{user.username}}</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button>Logout</button>
            </form>

        {% else %}
        <a href="{% url 'login' %}"><button>Login</button></a>
        {% endif %}
        <h2><a href="{% url 'cart' %}"><button>Your cart</button></a></h2>
        <a href="{% url 'home' %}"><button>Home page</button></a>
            
    </header>
    <hr>

    
    {% block content %}
        <h1>hi</h1>
    {% endblock content %}
        
    <footer>
        <hr>
        <p>© M.Rizwan E-Commrace 2025</p>
    </footer>
    
</body>
</html>