{% extends "base.html" %}
{% block content %}
<h2>My orders</h2>


{% if orders %}
    <table border="1">
        <tr>
            <th>order id</th>
            <th>Date</th>
            <th>total</th>
            <th>view</th>
        </tr>
        
        {% for order in orders %}
        <td>#{{order.id}} </td>
        <td>{{order.created_at|date:"Y-m-d" }} </td>
        <td>RS {{order.total_price}} </td>
        <td>
            <a href="{% url 'order_detail' order.id %}"><button>view</button></a>
        </td>
        {% endfor %}
    </table>
{% else %}
<p>No order found.</p>
{% endif %}
    

{% endblock content %}

